.Chat-container{
  /*display:flex;*/
  /*flex-direction:column;*/
  height:90vh;
  /*justify-content: flex-end;*/
  /*height: '100%'*/
  /*background-color: blue;*/
}

.Chat-main{
  /*flex:8;*/
  height:80vh;
  position: fixed;
  bottom: 10vh;
  overflow: scroll;
  /*background-color: red;*/

}

.Chat-input{
  height:10vh;
  position: fixed;
  bottom:0px;
  width: 100%;
  /*background-color: green;*/
  display: flex;
  flex-direction:row;
  overflow: scroll;
}

.Chat-item{
  display:flex;
  flex-direction:column;
  align-items: flex-start;
}

.Chat-item-name{
  font-weight: bold;
  color: gray;
}
