.SignIn{
  display: flex;
  text-align: center;
  flex-direction: column;
  /*background-color: red;*/
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.SignIn-item{
  display: flex;
  text-align: center;
  flex-direction: column;
  /*background-color: blue;*/
  justify-content: center;
  flex: 1;
}

.SignIn-submit{
  padding-top: 30px;
}
